ultrasonic/Node Red.txt
[{"id":"6622e2af.7c57cc","type":"mqtt in","z":"2c694de9.0ce762","name":"","topic":"Desks/pub","qos":"2","broker":"c652a91f.5a7a58","x":200,"y":620,"wires":[["3469f138.09d1de"]]},{"id":"f3234de6.931e9","type":"mqtt in","z":"2c694de9.0ce762","name":"","topic":"Desks/requests","qos":"2","broker":"c652a91f.5a7a58","x":220,"y":700,"wires":[["48e401ae.1d6f1"]]},{"id":"1c9bc26d.6b4f5e","type":"debug","z":"2c694de9.0ce762","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":740,"wires":[]},{"id":"3469f138.09d1de","type":"json","z":"2c694de9.0ce762","name":"","property":"payload","action":"","pretty":false,"x":460,"y":640,"wires":[["1c9bc26d.6b4f5e","7f539e0e.2f4c4"]]},{"id":"7f539e0e.2f4c4","type":"influxdb out","z":"2c694de9.0ce762","influxdb":"df10c224.75505","name":"","measurement":"DeskSensorUpdated","precision":"","retentionPolicy":"","x":920,"y":640,"wires":[]},{"id":"48e401ae.1d6f1","type":"json","z":"2c694de9.0ce762","name":"","property":"payload","action":"","pretty":false,"x":460,"y":740,"wires":[["1c9bc26d.6b4f5e"]]},{"id":"764e67ab.21adf8","type":"inject","z":"2c694de9.0ce762","name":"Height","topic":"","payload":"{\"ID\":\"All\",\"details\":\"height\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":840,"wires":[["d92d4357.7087e"]]},{"id":"d92d4357.7087e","type":"mqtt out","z":"2c694de9.0ce762","name":"","topic":"Desks/sub","qos":"","retain":"","broker":"c652a91f.5a7a58","x":530,"y":880,"wires":[]},{"id":"7a63bacc.4a9d84","type":"inject","z":"2c694de9.0ce762","name":"Diagnostics","topic":"","payload":"{\"ID\":\"2C:3A:E8:37:CF:55\",\"details\":\"diagnostics\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":900,"wires":[["d92d4357.7087e"]]},{"id":"caadddbb.16629","type":"inject","z":"2c694de9.0ce762","name":"Firmware Update","topic":"","payload":"{\"ID\":\"2C:3A:E8:37:CF:55\",\"details\":\"update\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":960,"wires":[["d92d4357.7087e"]]},{"id":"cec56493.bd0b58","type":"http in","z":"2c694de9.0ce762","name":"","url":"/UpdateSitStand","method":"get","upload":false,"swaggerDoc":"","x":200,"y":1200,"wires":[["61b7b5e2.b3f8ac"]]},{"id":"61b7b5e2.b3f8ac","type":"file in","z":"2c694de9.0ce762","name":"","filename":"/home/pi/homeautomation/CRElab_sitstand/ultrasonic/ultrasonic.ino.nodemcu.bin","format":"","chunk":false,"sendError":false,"x":710,"y":1180,"wires":[["4ab9a0ce.52edd","953769fa.f1cc68"]]},{"id":"4ab9a0ce.52edd","type":"http response","z":"2c694de9.0ce762","name":"","statusCode":"200","headers":{},"x":1180,"y":1180,"wires":[]},{"id":"56ad1af2.f8c4a4","type":"http in","z":"2c694de9.0ce762","name":"","url":"/SitStandUpdate","method":"post","upload":false,"swaggerDoc":"","x":200,"y":1100,"wires":[["13e05173.4b872f","f81d2ce6.9e855","953769fa.f1cc68"]]},{"id":"f81d2ce6.9e855","type":"http response","z":"2c694de9.0ce762","name":"","statusCode":"200","headers":{},"x":520,"y":980,"wires":[]},{"id":"13e05173.4b872f","type":"exec","z":"2c694de9.0ce762","command":"cd homeautomation/CRElab_sitstand/ultrasonic && git pull","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":750,"y":1100,"wires":[["953769fa.f1cc68"],["953769fa.f1cc68"],[]]},{"id":"953769fa.f1cc68","type":"debug","z":"2c694de9.0ce762","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":1120,"wires":[]},{"id":"c652a91f.5a7a58","type":"mqtt-broker","z":"","name":"Moquitto","broker":"192.168.1.13","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"df10c224.75505","type":"influxdb","z":"2c694de9.0ce762","hostname":"192.168.1.13","port":"8086","database":"SitStandTest","name":"aTimeSeries","usetls":false,"tls":""}]